/*
Favicon Colors
Pink
#FA8089 = rgba(250, 128, 137, 1)
#FA4A58 = rgba(250, 74, 88, 1)
#F82F40 = rgba(248, 47, 64, 1)

Green
#A2E540 = rgba(162, 229, 64, 1)
#8CC636 = rgba(140, 198, 54, 1)
#82B633 = rgba(130, 182, 51, 1)
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@media (prefers-color-scheme: light) {
  :root {
    --first-color: rgba(248, 47, 64, 1);
    --second-color: rgba(250, 74, 88, 1);
    --third-color: rgba(162, 229, 64, 1);
    --fourth-color: rgba(130, 182, 51, 1);
    --background: rgba(221, 221, 221, 1);
    --background2: rgba(255, 255, 255, 1);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --first-color: rgba(250, 128, 137, 1);
    --second-color: rgba(250, 74, 88, 1);
    --third-color: rgba(162, 229, 64, 1);
    --fourth-color: rgba(130, 182, 51, 1);
    --background: rgba(51, 51, 51, 1);
    --background2: rgba(17, 17, 17, 1);
  }
}
:root {
  --border-radius: 1rem;
}
body {
  margin: 0;
  width: 100vw;
  height: 100%;
  background-color: var(--background2);
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 2vh;
  min-height: 100vh;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--background2);
}

.content {
  position: relative;
  width: 90%;
  max-width: 700px;
  display: flex;
  margin: auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

*::selection {
  color: var(--background2);
  background-color: var(--first-color);
}

.root {
  width: 100%;
  height: 100%;
}
header {
  display: flex;
  text-align: center;
  flex-direction: row;
  align-items: center;
}
.logo {
  width: 20%;
  margin: 2%;
  min-width: 70px;
  max-width: 70px;
}

.circuit-image {
  width: 70%;
}

.row {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

*, *::before, *::after {
  font-family: 'Poppins';
	box-sizing: border-box;
}
.custom-field, option {
  position: relative;
  font-size: 1.25rem;
  /*
  padding-top: 10px;
  margin-bottom: 5px;*/
}
.custom-field {
  --draw-easing: .3s;
}
.custom-field .placeholder {
	position: absolute;
  font-size: 1rem;
  left: 1rem;
	top: calc(50%);
	transform: translateY(-50%);
	color: var(--background);
	transition:
		top 0.3s ease,
		font-size 0.3s ease,
		color 0.3s ease;
}
.custom-field input, select {
  font-size: 1rem;
  border: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
	appearance: none;
  color: var(--first-color);
  padding: 1.75vh 2vh;
  border-radius: var(--border-radius);
  background-color: transparent;
  border: 2px solid var(--background);
  min-width: 8rem;
  outline: none;
}
.custom-field input:focus, select:focus {
  border-color: var(--first-color);
  transition-delay: 0.1s;
}
.custom-field input:valid + .placeholder,
.custom-field input:focus + .placeholder {
	top: 0rem;
  left: .50rem;
	font-size: 1rem;
	color: var(--first-color);
  padding: 0 .25rem;
  background-color: var(--background2);
  transition-delay: 0.1s;
}

/* Hide Arrow Down nad Arrow Up, on input[type=number] */
input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

.btn {
  cursor: pointer;
  border: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
	appearance: none;
  color: var(--first-color);
  padding: 1.5vh 3vh;
  border-radius: var(--border-radius);
  background-color: transparent;
  border: 2px solid var(--background);
  outline: none;
}
.btn:disabled,
.btn[disabled] {
  cursor: not-allowed;
}
.btn-primary {
  font-weight: bold;
  color: var(--background2);
  background: linear-gradient(
    to bottom right,
    var(--second-color), var(--first-color));
}
.btn-primary:focus {
  border-color: var(--first-color);
  transition-delay: 0.1s;
}
.btn-primary:disabled,
.btn-primary[disabled] {
  color: var(--background2);
  border: 2px solid var(--background);
  background: var(--background);
}
.btn-secondary {
  color: var(--first-color);
  border: 2px solid var(--background);
  background: var(--background2);
}
.btn-secondary:focus {
  border-color: var(--first-color);
  transition-delay: 0.1s;
}

.title {
  margin: 0;
  text-align: center;
  font-size: 1.75rem;
  font-weight: bold;
  color: var(--second-color);
}
.desc, td {
  text-align: center;
  font-size: 1rem;
  color: var(--first-color);
}
footer {
  text-align: center;
  font-size: .75rem;
  color: var(--first-color);
}
th {
  color: var(--first-color);
}

select::selection{
  border: 1rem;
  font-size: 1rem;
  border-color: var(--second-color);
}

.output {
  text-align: center;
  display: block;
}

table, tr {
  text-align: center;
  padding: .35rem .50rem;
  border-radius: var(--border-radius);
  border: 2px solid var(--background);
}
th, td {
  text-align: center;
  padding: .35rem .50rem;
}
td:first-child {
  font-weight: bold;
}

footer {
  /*
  position: absolute;
  */
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem 0 1rem 0;
  width: 100%;
  color: var(--first-color);
  /*display: flex;*/
  text-align: center;
  background-color: var(--background2);
}

a {
  color: var(--background);
}
a:visited {
  color: var(--background);
}

.link {
  font-weight: bold;
  color: var(--second-color);
}
.link:visited {
  font-weight: bold;
  color: var(--second-color);
}

.errormessage {
  width: 100%;
  font-size: 1rem;
  padding: .75rem;
  text-align: center;
  font-weight: bold;
  border-radius: var(--border-radius);
  color: var(--background2);
  background: var(--second-color);
}

@media(max-width: 500px) {
  form {
    display: flex;
    flex-direction: column;
  }
  .custom-field, option {
    font-size: 1rem;
  }
  .custom-field input, select {
    padding: 2vh;
    border-radius: var(--border-radius);
    min-width: 9rem;
    outline: none;
  }
  .custom-field input:valid + .placeholder,
  .custom-field input:focus + .placeholder {
    top: 0rem;
    left: 0.5rem;
    font-size: .75rem;
    padding: 0 .25rem;
  }
  table, tr {
    text-align: center;
    padding: .35rem .35rem;
    border-radius: var(--border-radius);
    border: 2px solid var(--background);
  }
  th, td {
    text-align: center;
    padding: .35rem .35rem;
  }
  .circuit-image {
    width: 100%;
  }
}
.disable-select {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}